body {
    margin:0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500; /* не знаю как определить */
    color: #ffffff;

    background-color: #849d8f;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    
}

a {
    text-decoration: none;
}

.header-tel {
    color: #ffffff;
}

.site-navigation,
.catalog-navigation,
.user-navigation {
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500px;
}

.site-navigation {
    color: #ffffff;    
}

.site-navigation a {
    color: #ffffff;
    border-bottom: 1px solid #adbdb4;
    padding: 0 10px;
}

.site-navigation a:hover {
    background-color: #f7f6f3;
    border-radius: 50px;
    padding: 5px 10px;
    color:#333333;
    border-bottom: none;    
}

.site-navigation a:focus {
    background-color: #ededed;
    border-radius: 50px;
    padding: 5px 10px;
    color:#333333;
    border-top: 1px solid #696968;
    border-bottom: none;
}

.site-navigation a:active {
    background-color: #ededed;
    border-radius: 50px;
    padding: 5px 10px;
    color:#333333;
    border-bottom: none;
}

.catalog-navigation a{
  color: #000000;
  border-bottom: none;
}

.catalog-navigation a:hover {
  background-color: #fbded7;
  color: #000000;
}


.catalog-navigation a:focus {
    background-color: #d07058;
    color: #ffffff;
}

.catalog-navigation a:active {
    background-color: #f6b5a5;
    color: #000000;
}

.login-header a {
    background-image: url("../img/entrance-wight.svg");
    background-size: 22px 22px;
    background-repeat: no-repeat;
    border-radius: 40px;
    background-position: 16px 50%;
    background-color: #a1b5aa;
    font-size: 14px;
    color: #ffffff;
    line-height: 16px;
}

.login-header a:hover {
    background-image: url("../img/entrance.svg");
    color: #000000;
    background-color: #f8f7f4;
}

.search button {
    background-image: url("../img/loupe.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #a1b5aa;
    background-position: 46% 46%;
    border: none;
    outline: none;

}

.search button:hover {
    background-image: url("../img/loupe-black.svg");
    background-color: #f8f7f4; 
}

.header-bag a {
    background-image: url("../img/basket.svg");
    background-size: 22px;
    background-color: #a1b4a9;
    background-repeat: no-repeat;
    border-radius: 40px;
    background-position: 16px 50%;
    font-size: 14px;
    color: #ffffff;
    line-height: 16px;
    padding: 8px 18px 8px 44px;
    width: 55px;
}

/* .header-bag a:hover {
    background-image: url("../img/basket-red.svg");
    background-repeat: no-repeat;
    color: #323232;
    background-color: #f8f7f4;
    width: 119px;
    height: 33px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 40px;
    background-position: 16px 50%;
    padding: 6px 16px 6px 45px;
} */

.main-slider h3 {
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}

.main-slider a {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
}

.button {
    display: inline-block; 
    padding: 10px 50px;
   
    
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
   
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
   
.button:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
   
.button:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}   

.gifts-conditions {
    list-style: none;
}

.gifts-conditions h3 {
    font-size: 35px;
    line-height: 41px;
}

.gifts-conditions li:first-of-type {
    background-image: url("../img/razz-back.png"); 
    width: 560px;
    height: 229px;    
}

.gifts-conditions li:last-of-type {
    background-image: url("../img/choco-back.png"); 
    width: 560px;
    height: 229px;    
}

.product-items {
    list-style: none;
}

.product-items a{
    text-decoration: none;
    color: #ffffff;
}


.product-items  h3{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #9db1a5;  
}



.features-container {
    color: #323232;
    width: 1146px;
    height: 306px;  

    background-image: url("../img/back-fon.png");
    border-radius: 10px 10px;
    background-repeat: no-repeat;
    position: relative;
}
.features-text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.features-list {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.article-item {
    color: #323232;
    width: 560px;
    height: 220px;  
    background-image: url("../img/strawberry-back.png");
    border-radius: 10px 10px;    
}

.blog-new {
    font-size: 16px;
    line-height: 22px;
}

.hidden-article {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: underline; 
    color: #323232;
    display: block;
    width: 290px;
}

.article-item a:hover,
.article-item a:focus {
    color: #323232;
}

.sending-email {
    background-image: url("../img/mail-back.png");
    border-radius: 10px 10px;
    background-repeat: no-repeat;
    width: 560px;
    height: 220px;
    position: relative; 
}

.sending-form {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    width: 550px;
    height: 210px; 

    background-image: url("../img/mail-back2.png");
    border-radius: 10px 10px;  
    background-repeat: no-repeat;  
    left: 5px;
    top: 5px;
    position: absolute;

}

.map {
    background-image: url("../img/map.png");
    width: 1200px;
    height: 430px;  
}
 
.address-text {
    background-image: url("../img/contacs.png");
    background-repeat: no-repeat;
    width: 306px;
    height: 305px;  
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}

.address-text b {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #323232
}

.address-text .tel {
    font-size: 14px;
    line-height: 24px;
    
}


.address-text a:hover,
.address-text a:focus {
    color: #323232;
}

.footer-link {
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    border-bottom: 1px solid #9db1a5;
}

.footer-copyright {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}
.footer-copyright a:hover,
.afooter-copyright a:focus {
    color: #ffffff;
}

.footer-social {
    list-style: none;
}

.footer-navigation {
    list-style: none;
}

.login-form {
    background-image: url("../img/login-form-back.png");
    width: 313px;
    height: 252px;  
   
}

.breadcrumbs_catalog {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    list-style: none;
}

.breadcrumbs_catalog a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-navigation a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 1px solid #9db1a5;
}

.footer-navigation .bold-item {
    font-weight: 700;
}

.links a {
    color: #323232;
    text-decoration: underline;
}

.bag-products a {
    color: #323232;
    
}
.bag-products {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    font-weight: 600;

    
} 

.sum-text {
    font-size: 15px;
    line-height: 18px;
    color: #323232;
    font-weight: 600;
}

.items-catalog {
    color: #ffffff;
    font-weight: 700;
}

.items-catalog h3 {
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
    font-weight: 400;
}
.price {
    font-size: 45px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 700;
}

.kilo {
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 700;
}

.pagination-list  {
    list-style: none;
}

.pagination-list a {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    list-style: none;
    padding: 8px;
}

.pagination-item-current {
    border-radius: 50%;
    background-color: #ffffff;
    color: #323232;
    width: 26px;
    height: 24px;
    padding-top: 2px;
        
    font-weight: 700;
    display: inline-block;
    text-align: center;
}

.pagination-list .pagination-item:hover {
    border-radius: 50%;
    background-color: #9db1a5;
    width: 26px;
    height: 26px;
}

.footer-social a{
    color: #ffffff;
}

form .button {
    border:none;
}

.button-catalog {
    background-color: #a6b7ad;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px; 
    font-weight: bold;
    border-radius: 100px;
    border: 2px solid #ffffff;
    padding: 7px 10px;
}

.button-catalog:hover {
    background-color: #fbfcfb;
    color: #323232;
    font-size: 16px;
    line-height: 18px; 
    font-weight: bold;
}
   
.button-catalog:active {
    background-color: #eaeaea;
    box-shadow: inset 0 2px 2px rgba(138, 139, 138, 1);
}    

.sort select,
.radio-fat,
.additive-checkbox,
.range-price {
    background-color: #aabab0;
    border-radius: 50px;
    padding: 5px 10px;
    color: #ffffff;
}

.visually-hidden {
    position: absolute;    
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

/* ---------Временно для сетки---------- */

html,
body {
/* Временно для сетки */
    
    min-height: auto;
    min-width: 1200px; 
    margin: auto; 
}

body {
    /* Временно для сетки */
  /*  background-image: url("../img/fon-test.jpg");*/
    background-size: 1200px auto;
    margin: 0 auto;
    padding: 0;
    margin-left: 0;  

    /* Временно для сетки */
    min-width: 1200px;
    min-height: auto;    
   
}

.main-header {
    padding-top: 9px;  
 
}

.layout-header {
    margin: 0 auto;
    width: 1146px;
    padding: 0;
}


.main-navigation {
    height: 100px;
    width: 100%;
    background-color: transparent; 
    padding: 0;  
    
    /* Временно для сетки */
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    margin: 0 auto;
}



.logo-header {
    height: 64px;
    width: 154px;   
    
}

.site-navigation {
    width: 680px;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}

.site-navigation li {
    margin-right: 28px;
    margin-top: 4px;
    /* padding-left: 10px;
    padding-right: 10px; */

}



.site-navigation .current-item {
    background-color: #d07058;
    border-radius: 40px;
    padding: 5px 10px;
    width: 60px;
    border: none;
}

.layout-header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 267px;
    height: 114px;
    margin-top: 14px;
}


.user-navigation {
    width: 267px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.search {
    margin-right: 10px;   
}

.login-header {
   
    margin-right: 10px;
}

.login-link {
   display: block;
   padding: 8px 16px 8px 44px;

}

.bag {
    display: block;   
}


.header-contacs {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    height: 58px;
    width: 267px;
}

.header-mode {
    text-align: right;
}

.header-mode a {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}
.layout-container {
    width: 1146px;
    margin: 0 auto; 
    padding: 0; 
    
  
}

.gifts {
    margin-top: 43px;
} 

.gifts-conditions {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 231px;
        
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;    
    
}

.gifts-conditions li {
    width: 560px;
    height: 231px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 16px 20px 0px 19px;

}

.hidden-gifts {
    margin: 0;    
} 

.gifts-conditions-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 15px 0;
    
}

.gifts-conditions a { 
    font-size: 18px;
    display: inline-block;
    align-self: flex-end;
    padding: 12px 24px 12px 23px;
    margin: 30px 0;
}



.items {
    margin-top: 37px;
    height: 322px;
}

.product-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0; 
    width: 100%;   
}

.item-container {
    width: 25%;
    height: 325px;
    margin: 0;
    margin-bottom: 35px;
    position: relative;
}

.item-container a  {
    display: block;
    margin: 0;
    padding: 6px 13px 0 13px;   
    box-sizing: border-box;
    width: 280px;
}

.item-container a img {
    width: 261px; 
}

.view-item {
    margin: 0;
    width: 280px;
    height: 390px;
    display: none;  
} 

.view-item a {
    padding: 10px 22px;
    width: 200px;
    display: block;
    margin: 10px auto;
}

.item-container:hover {
    height: 325px;
    background-color: rgba(157,177,165,0.5);
    border-radius: 10px 10px 0 0;
    width: 286px;  
    box-sizing: border-box;
}

.item-container:hover .view-item {
    position: absolute;
    height: 70px;
    top: 325px;
    left: 0;
    display: block;
    z-index: 3;
    background-color: rgba(157,177,165,0.5);
    border-radius: 0 0 10px 10px;
    
    box-sizing: border-box;
    width: 286px;
}




.features {
    height: 307px;    
    margin-top: 40px;
}

.features-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 25px 20px 0px;
    box-sizing: border-box;

}

.features-text {
    width: 1125px;
    height: 92px;
    text-align: left;
    margin: 0;
}

.features-list {
    padding: 0;
    list-style: none; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 9px 0px;        
}

.features-item {
    margin: 0;
    width: 490px;
    padding: 14px 20px 10px 56px;
}

.features-item:first-child {
    background-image: url(../img/ice-cream.svg);
    background-repeat: no-repeat;
    background-size: 49px;
}

.features-item:nth-child(2) {
    background-image: url(../img/eco.svg);
    background-repeat: no-repeat;
    background-size: 49px;       
}

.features-item:nth-child(3) {
    background-image: url(../img/cow.svg);
    background-repeat: no-repeat;
    background-size: 49px;
}

.features-item:last-child {
    background-image: url(../img/thermometer.svg);
    background-repeat: no-repeat;
    background-size: 49px;    
}

.blog {
    margin-top: 38px;
    height: 220px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-item {
    margin: 0;
    padding: 0;
    width: 560px;
    height: 220px;
}

.blog-new {
    margin: 0;
    margin-top: 24px;
    margin-left: 20px;
}

.hidden-article {
    margin: 0;
    margin-top: 5px;
    margin-left: 20px;
}

.sending-email {
    margin: 0;
    padding: 0;
    width: 560px;
    height: 220px;

}

 .sending-form {
    margin: 0;
    padding: 14px 0 0 21px;
} 

.sending-text {
    width: 510px;
}

.sending-form input[type=email] {
    margin-top: 20px;
    width: 353px;
    height: 40px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    padding-left: 13px;
}

.sending-form .button {
    margin-top: 20px;
    margin-left: 10px;
    width: 126px;
    padding: 10px 10px 11px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;

}


.map-container {
    width: 1200px;
    height: 428px;
    margin-top: 40px;
}

.map {   
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.pin {
    background-image: url(../img/pin.png);
    background-repeat: no-repeat;
    background-position-x: 266px;
    background-position-y: 138px;
    width: 587px;
    height: 100%;
}

.address-text {
    margin-top: 63px;
    margin-right: 23px;
}

.address {
    width: 267px;
    padding: 15px 25px 0;
}

.address-text .tel {
    width: 267px;
    padding: 2px 25px;
}

.email-form {
    margin-top: 20px;
}

.email-form .button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 10px 22px; 
    margin-left: 25px;
}

.main-footer {
   padding: 0;
   padding-bottom: 15px;
}

.hr-footer {
    width: 1146px;
    height: 1px;
    margin: auto;
    border-bottom: 1px solid #a9bbb1;
}

.main-footer>.conteiner {
    width: 1146px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    
    height: 34px;
    justify-content: flex-start;
    margin-top: 24px;
    margin-left: 2px;
}

.footer-social li {
    margin-right: 11px;
    padding: 0;
    width: 34px;
    height: 34px;
    border: 2px solid #c2cec7; 
    border-radius: 50%; 
    box-shadow: none; 
}



.footer-social .button-twitter {
   
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-size: 34px;

}

.footer-social .button-twitter:hover {
    background-image: url(../img/twitter-hover.svg);
    background-repeat: no-repeat;
    background-size: 34px;
}

.footer-social .button-twitter:active {
    background-image: url(../img/twitter-active.svg);
    background-repeat: no-repeat;
    background-size: 34px;
}

.footer-social .button-instagram {
    background-image: url(../img/instagram.svg);
    background-repeat: no-repeat;
    background-size: 34px;  
}

.footer-social .button-instagram:hover {
    background-image: url(../img/instagram-hover.svg);
    background-repeat: no-repeat;
    background-size: 34px;  
}

.footer-social .button-instagram:active {
    background-image: url(../img/instagram-active.svg);
    background-repeat: no-repeat;
    background-size: 34px;  
}

.footer-social .button-fb {
    background-image: url(../img/fb.svg);
    background-repeat: no-repeat;
    background-size: 34px; 
}

.footer-social .button-fb:hover {
    background-image: url(../img/fb-hover.svg);
    background-repeat: no-repeat;
    background-size: 34px; 
}

.footer-social .button-fb:active {
    background-image: url(../img/fb-active.svg);
    background-repeat: no-repeat;
    background-size: 34px; 
}

.footer-social .button-vk {
    background-image: url(../img/vk.svg);
    background-repeat: no-repeat;
    background-size: 34px;
}

.footer-social .button-vk:hover {
    background-image: url(../img/vk-hover.svg);
    background-repeat: no-repeat;
    background-size: 34px;
}

.footer-social .button-vk:active {
    background-image: url(../img/vk-active.svg);
    background-repeat: no-repeat;
    background-size: 34px;
}


.footer-navigation {
    margin: 0;
    padding: 0;
    width: 345px;
    height: 55px;
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}


.footer-navigation li {
    width: 120px;
    padding-left: 21px;
}

.footer-navigation li:nth-child(2) {
    padding-top: 4px;
}

.footer-navigation li:nth-child(4) {
    width: 175px;
    padding-top: 0;
}

.heart {
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 2px;
    background-size: 15px 18px;
    width: 18px;
    height: 18px;
    padding-left: 21px; 
}


.footer-copyright {
    margin-top: 12px;
    width: 267px;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.footer-copyright p {
    margin: 0;
    padding-left: 77px;
}

.footer-logo {
    padding-left: 77px;
}


/*расположение цен на товарах items */
.price {
    font-weight: 500;
    position: relative; 
    left: 0; 
    bottom: 130px;   
    
}

.currency {
    display: inline-block;
    background-image: url("../img/ruble.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 32px;
    background-position-x: 4px;
    vertical-align: baseline; 

}

.hidden-icecream {
    text-align: center;
    margin-top: 8px;
    height: 45px;
}

.item-hit {
    background-image: url("../img/hit.png");
    background-repeat: no-repeat;
    background-size: 61px; 
    width: 61px;
    height: 61px;

    position: absolute;
    left: 0px; 
    top: 0;  
}

/*сетка каталога */

.breadcrumbs_catalog {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 267px;
    
} 
.breadcrumbs_catalog li{
    width: 67px;
    margin-right: 9px;
    position: relative;
}



.breadcrumbs_catalog li::after {
    content: "»";
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    top: -1px;
    right: -15px; 
    width: 20px;
    height: 20px;
    
} 

.page-title {
    padding: 0;
    margin: 0;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin: 4px 0 20px;
}

.filter-form {
    margin-top: 30px;
    width: 870px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 130px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

fieldset label {
    user-select: none;
    position: relative;
    display: inline-block;
}

legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 15px 15px 5px;

}

.sort select {
    width: 194px;
    padding: 7px 10px;

    -webkit-appearance: none;
    display: relative;
 
}

.sort select::after {
    content: "⯆";
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: #ffffff;
}

.range-price {
    width: 206px;
    padding: 4px 10px;
}

.radio-fat {
    width: 400px;
    padding: 7px 10px;
}

.radio-fat lable::before {
    content:"";
    position: absolute;

    left: -42px;
    top: 0px;

    width: 25px;
    height: 25px;

    border: 2px solid #000000;
}

.radio-fat lable::after {
    content:"";
    position: absolute;

    width: 15px;
    height: 15px;

    border: 2px solid #ffffff;
}

.radio-fat input {
    margin-right: 8px;
}

.radio-fat label {
    margin-right: 15px;
} 

.additive-checkbox {
    width: 702px;
    padding: 7px 10px;
}

.button-catalog {
    width: 145px;
}

.items-catalog,
.items {
    margin: 0 auto;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    width: 1146px;
    
}

.product-items {
    width: 100%;
    height: 1110px;
    display: flex;
    flex-wrap: wrap;   
}

.product-items li {   
    
}

.pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;     
}

.pagination-arrow-left {
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    transform: rotateY(180deg);

    width: 15px;
    height: 20px;
}

.pagination-arrow-right {
    background-image: url("../img/icon-right-small-white.svg");
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    
    width: 15px;
    height: 20px;
}

.pagination-list li {
    
    margin: 2px; 
    

}

/* Слайдер */

.site-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/slider-item1.png");
    background-repeat: no-repeat;
    background-position: top center;
    
    transition: background-image 0.5s ease, background-color 0.5s ease;
    
  }

  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 0;
  }

 

  .slider {
    position: relative;
    padding-top: 272px;
    text-align: center;
    color: #ffffff;
  }

  .slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
  }

  .slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    margin-top: 10px; 

    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
  }

  .slider .button {
    display: inline-block;
    padding: 12px 44px;
  
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
  
    cursor: pointer;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
  
    vertical-align: top;
  
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }

.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 27px;
    z-index: 20;
    font-size: 0;
  } 
  
  .slide {
    display: none;
  }

  #product-1:checked ~ .site-wrapper #slide1,
  #product-2:checked ~ .site-wrapper #slide2,
  #product-3:checked ~ .site-wrapper #slide3 {
    display: block;
  }

  #product-1:checked ~ .site-wrapper label[for="product-1"],
  #product-2:checked ~ .site-wrapper label[for="product-2"],
  #product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
  }

  #product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-item1.png");
  }
  
  #product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-item2.png");
  }
  
  #product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-item3.png");
  }


.modal {
    position: fixed;
    background-color: #f8f7f4;
    color: #323232;
       
}

/* .modal-login {

    padding: 20px;
    top: 0px;
    right: 100px;

    width: 277px;
    height: 214px;
        
} */



